html{
    /* background-image: url(bg2.jpg); */
    background: #E6FFFB;
}

#header{
    width: 100%;
    max-width: 900px;
    margin: 2em auto;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkolivegreen; 
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "left_side left_side right_side right_side"
    "bottom_side bottom_side bottom_side bottom_side"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    background-color: whitesmoke;
    border-width: 10px;
    border-style: outset;
    border-color: rgba(164,161,117,0.84);  
}

#left_side {
    grid-area: left_side; 
    margin-top: 85px;
}
  
#right_side {
    grid-area: right_side;
}
  
#bottom_side {
    grid-area: bottom_side;
}

#tagline {
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(206,89,55,0);
    color: #FFFFFF;
    background: #B92243;
}

h1{
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 2px 2px 2px rgba(206,89,55,0);
    color: darkolivegreen;
}

.content {
    max-width: 940px;
    min-width: 720px;
    border: 4px double black;
    padding: 20px;
    margin: 10px auto 10px auto;
    background-color: #ffffff;
}

#letter_title{
    font-weight: bold;
    text-align: center;
}

.label-list{
    margin-bottom: 10px;
}

.label-name{
    display: inline-block;
    width: 150px;
    text-align: left;
}

.choice{
    display: inline-flex;
    align-items: center;
}

.hide {
    display: none;
  }

input {
    width: 60%;
    margin: 8px;
    border: none;
    border-bottom: 2px solid black;
}

.choose-based{
    display: inline;
}

#closing{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.date{
    width: 20%;
}

.footer{
    max-width: 980px;
    min-height: fit-content;
    background-color: antiquewhite;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.cont{
    text-align: center;
    padding: 2em;
    border-radius: 4px;
    
}
